{% load static %}
<html lang="en">
    <head>
        <title>Georgina Cottrell</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body style="background-color:#E8E8E8;">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="https://www.linkedin.com/in/georgina-cottrell-b54b23157/"><button  class="fa fa-linkedin-square" style="font-size:40px"></button> </a>
                <span class="navbar-brand" id="page-header">Georgina Cottrell</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'post_list' %}">Blog</a></li>
                <li><a href="{% url 'cv'%}">CV</a></h1>  
            </ul>

        </div>
    </nav>
        {% block slideshow %}
        {% endblock %}
        <div class="content container" style="width:100%">
            <div class="row" style="width:100%">
                <div class="col-md-8" style="width:100%">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer class="page-footer">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">Enquiries:                                         
              <a href="mailto: GMC851@student.bham.ac.uk">GMC851@student.bham.ac.uk</a>
            </div>
            <!-- Copyright -->
          
          </footer>
    </body>
</html>