{% extends 'blog/base.html' %}

{% block content %}
<div class="cv">
<form class="form-horizontal" enctype="multipart/form-data">

    <img name="profile_picture" class="profile_picture" src="{{ cv.profile_picture.url }}">
    <div class="contact">
      <div style="font-weight:bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Email: 
        <h4 class="email">{{ cv.email }}</h4>
      </div>
      <div style="font-weight:bold;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Mobile:
        <h4 class="mobile">{{ cv.mobile }}</h4>
      </div>
    </div>
    
    <div class="information">
      <h2 class="cv_name" style="font-weight:bold;">{{ cv.name }}</h2>
      <h3 class="cvjob">{{ cv.job_title }}</h3>
      <hr/>
      <h2 style="font-style:italic" class="profile_title">Professional Profile</h2>
      <p class="profile">{{ cv.professional_profile|linebreaksbr }}</p>
      <hr/>
      <h2 style="font-style:italic">Work Experience</h2>
      {% for work in works %}
        <h3>{{ work.work_experience_location }}</h3>
        <div class="work_date">
          <h4>{{ work.work_experience_date}}</h4>
        </div>
        <p>{{ work.work_experience_description|linebreaksbr }}</p>
      {% endfor %}
      <hr/>
      <h2 style="font-style:italic">Education</h2>
      {% for ed in education %}
        <h3>{{ ed.education_location}}</h3>
        <div class="education_date">
          <h4>{{ ed.education_date}}</h4>
        </div>
        <p>{{ ed.education_description|linebreaksbr }}</p>
      {% endfor %}
      <hr/>
      <h2 style="font-style:italic">Additional Skills</h2>
      <p>{{ cv.additional_skills_description|linebreaksbr }}</p>
    </div>

</form>
</div>

{% endblock %}