{% extends 'blog/base.html' %}
{% block slideshow %} 
<div class="slideshow-container">

    <div class="mySlides">
      <img src="../../static/images/chancellors-court-blossom.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <img src="../../static/images/MoreLondon_5.jpg"style="width:100%">
    </div>
    
    <div class="mySlides">
      <img src="../../static/images/coding.jpg" style="width:100%">
    </div>
    
</div>
<a class="prev" onclick="plusDivs(-1)">&#10094;</a>
<a class="next" onclick="plusDivs(1)">&#10095;</a>

</div>  

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }

        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
        }
    </script>
</div>
{% endblock %}
