h1 a, h2 a {
    color: #87CEEB;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
body {
    padding-top:50px;
}


#page-header{
    color: #ffffff;
    font-size: 15pt;
    text-decoration: none;
    vertical-align: top;
    float:none;
    display:inline-block;
    padding-left: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.navbar-custom {
    background-color: #87CEEB;
    height: 50px;
    margin-bottom: 0px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
    .nav.navbar-nav.navbar-right a{
        color:white;
        padding-left:30px;
        padding-right:30px;
        font-size:15pt;

    }
.nav.navbar-nav.navbar-right a:hover{
    
    background-color:#0099ff;
}

.fa.fa-linkedin-square {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 20pt; 
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 10pt; 
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    margin-top:0; 
    padding-bottom:20px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: black;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.carousel {
    height: 700px;
    margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    height: 700px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 700px;
}
@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

.column {
    float: left;
    width: 33.33%;
    padding: 40px;
  }
  


  
  
